<div id="allBeerSection">

{{#each this}}
<div id="allBeers">
 <p id="beerImg"><img src="{{image_url}}" alt="" width="50px""> <b> {{name}} </b> </p>
 <p>{{tagline}} </p>
 <p></p>{{description}} </p>
 </div> 
{{/each}}

</div>