 
{{>navbar}}

<section id="main-content">
  <img src="images/beer.png" alt="beer_image" height="380px" width="380px">
  <p> <a href="beers">Check the Beers</a> </p> 
  <p> <a href="random-beer">Check a Random Beer</a> </p>
</section>

    

