<img src='/beer.png' width='50' height='50' />
<hr />
<button onclick="location.href='/beers'" type='button'>Check the Beers!</button>
<button onclick="location.href='/randomBeer'" type='button'>Check a Random Beer!</button>